<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="shop in pointsvente" class="no-border">
        <div class="card">
          <div class="item item-button-right">
            {{shop.libelle}}
            <div class="buttons">
              <a class="button" href="#/masterDetail/shops/{{shop.code}}">
                <i class="icon ion-ios-list-outline"></i>
              </a>
              <a class="button" href="#/app/location/{{shop}}">
                <i class="icon ion-ios-location"></i>
              </a>
            </div>
          </div>
        </div>
      </ion-item>     
      <div ng-show="!pointsvente.length" class="emptyMsg">
        <i class="icon ion-trash-b"></i>
        <button class="round-overlay-button bottom-right button button-icon ion-loop light" ng-click="synchroniser()"></button>
      </div>
    </ion-list>
  </ion-content>

  <script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
      <div class="item item-text-wrap">
        Shop name
        <p>Geoffroy Ayeboua </p>
        <p>MHD</p>
      </div>
      <ion-content id="shop-info" class="list" scroll="false">

        <a class="button-full  item item-icon-left " href="#">
          <i class="calm rounded-icon icon ion-email"></i>
          <span class="calm title">Check mail</span>
        </a>
        <a class=" button-full item item-icon-left " href="#">
          <i class=" balance rounded-icon icon ion-email"></i>
          <span class="balance title">Check mail</span>
        </a>
        <a class="button-full item item-icon-left " href="#">
          <i class="positive rounded-icon icon ion-email"></i>
          <span class="positive title">Check mail</span>
        </a>


      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>