<ion-view view-title="Profile">
  <ion-content>
    <div align="center" class="pageProfile">

      <div class=" profile item">
        <div class="row"><img src="img/user_male.png"></div>
        <div class="row">
          <h2>Geoffroy Ayeboua </h2>
        </div>
        <div>MHD</div>
      </div>
      <div class=" loginInput list col" >

        <div class="list" style="margin:auto; margin-top: 10px">
          <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
          <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
          <label class="item-input item no-border no-margin">
          <button class="button button-positive center" style="margin: auto; margin-top: 60px; width: 40%"  type="submit">OK</button>
        </label>
        </div>

      </div>

    </div>
  </ion-content>
</ion-view>