<ion-view view-title="Profile">
  <ion-content scroll="false">
     <div  class="profile item">
        <div class="row"><img src="img/IMG_0315.jpg"></div>
        <div class="row"><h2>Geoffroy Ayeboua </h2></div>
        <div>MHD</div>
      </div>
    <div class="row row-top" style="height: 60%">
      <form style="width:100%">
        <div class="list">
          <label class="item item-input">
      
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
          <label class="item item-input">
          
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
          <label class="item">
          <button class="button button-full button-positive" type="submit">OK</button>
        </label>
        </div>
      </form>
    </div>
   
  </ion-content>
  </ion-view>