<ion-view view-title="List">

    <ion-content>

      <ion-list >
        <ion-item ng-repeat="shop in pointsvente" 
        ng-class="{ 'active': selectedShopId === shop.code}"
				ng-href="#/masterDetail/shops/:{{shop.code}}">
          {{shop.libelle}}
          <i class="icon ion-ios-arrow-forward"></i>
  
        <ion-option-button class="button-light "> <i class="icon ion-location icon-positive"></i></ion-option-button>
        <ion-option-button class="button-light "> <i class="icon ion-ios-reload  icon-balanced"></i></ion-option-button>
        </ion-item>
      </ion-list>
     
    </ion-content>

  	<multiple-views-support width="30%" />
</ion-view>