<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>

      <ion-item class="no-border">
        <div class="card">
          <div class="item item-text-wrap item-icon-right" style="border-top:#387ef5 4px solid">
            <i class="icon ion-ios-cloud-outline">
           
            <span class="badge icon-badge cloudbadge badge-assertive">
               23
            </span>
          </i> yeah
          </div>

          <div class="item item-body">

            <p>
              The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text.
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>
        </div>
      </ion-item>
      <ion-item class="no-border">
        <div class="card">
          <div class="item item-text-wrap item-icon-right" style="border-top:#387ef5 4px solid">
            <i class="icon ion-ios-cloud-outline">
           
            <span class="badge icon-badge cloudbadge badge-assertive">
               54</span>
          </i> yo
          </div>

          <div class="item item-body">

            <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="50"></canvas>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>