<ion-view view-title="Dashboard" ng-controller="DashboardCtrl">
  <ion-content>
    <ion-list>

      <ion-item class="no-border">
        <div class="card">
          <div class="item item-text-wrap item-icon-right" style="border-top:#387ef5 4px solid">
            Nombre de points de vente restants: {{count}}/{{totalShop}
          </div>

        </div>
      </ion-item>
      <ion-item class="no-border">
        <div class="card">
          <div class="item item-text-wrap item-icon-right" style="border-top:#387ef5 4px solid">
            yo
          </div>

          <div class="item item-body">

            <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="110"></canvas>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>