<ion-side-menus enable-menu-with-back-views="true"> 
  <ion-side-menu-content scroll="false"> 
    <ion-nav-bar  class="bar bar-header bar-positive">
      <ion-nav-back-button class="button-clear">
         <i class="ion-arrow-left-c"></i>
      </ion-nav-back-button> 
      <ion-nav-buttons side="left">
        <button class="button button-icon  ion-navicon" menu-toggle="left"> </button> 
      </ion-nav-buttons> 
    </ion-nav-bar> 
    <ion-nav-view name="menuContent"> </ion-nav-view> 
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="LeftMenuCtrl">
      <ion-footer-bar >
          <span class="padding" ></span>
      </ion-footer-bar>
    <ion-content>

      <div  class="profile" style="height: 120px;">
        <div class="item item-avatar">  
          <img src="img/user_male.png">
        <h2>HI </h2>
        <p>{{user.name}}</p>
        </div>
      </div>
      <ul id="menu" class="list">
          <a ng-repeat="menu in menus" ng-class="isItemActive({{menu}})" menu-close ng-href="{{menu.href}}"> {{menu.name}}</a>         
      </ul>
      
<!--
  <bar-footer class="button-bar footer bar-positive">
                <a class="button ion-home" menu-close ng-href="#/app/dashboard"></a>
                <a class="button ion-gear-a" menu-close ng-href="#/app/profile"></a>
                <i class="button ion-android-exit" menu-close ng-click="loggout()"></i>
            </bar-footer>
-->

    </ion-content>

  </ion-side-menu>
</ion-side-menus>