<ion-view view-title="Settings" ng-controller="AppCtrl">
    <ion-content>
        <div class="list">
            <div class="item item-divider"> Route options </div>
            <ion-list>
                <ion-radio ng-model="travel_mode" value="DRIVING" ng-change='travelModeChangd(travel_mode)' ng-checked="{{travel_mode}}===DRIVING" >Conduite</ion-radio>
                <ion-radio ng-model="travel_mode" value="BICYCLING" ng-change='travelModeChangd(travel_mode)' ng-checked="{{travel_mode}}===DRIVING">Vélo</ion-radio>
                <ion-radio ng-model="travel_mode" value="TRANSIT" ng-change='travelModeChangd(travel_mode)' ng-checked="{{travel_mode}}===DRIVING">Transit</ion-radio>
                <ion-radio ng-model="travel_mode" value="WALKING" ng-change='travelModeChangd(travel_mode)' ng-checked="{{travel_mode}}===DRIVING">Marche</ion-radio>
            </ion-list>
            <div class="item item-divider"> Distance around </div>
            <div class="item range">
                
               <span>0</span> <input type="range" name="distance" ng-model="distance" on-release="onRelease(distance)" max="100" ><span>100</span>
            </div>
    </ion-content>
</ion-view>