<ion-view view-title="Settings" ng-controller="AppCtrl">
    <ion-content>

        
            <div class="item">
                This is a basic Card which contains an item that has wrapping text.
            </div>
       

        <div class="list">

            <div class="item item-divider"> Candy Bars </div>
            <div class="item item-toggle">
                HTML5
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item range">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
            <label class="item item-input item-select">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
    </ion-content>
</ion-view>